<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="client.pegasusclient.app.UI.Activities" >

    <uses-sdk
        android:maxSdkVersion="23"
        android:minSdkVersion="17"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainApp"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="client.pegasusclient.app.UI.manual.activities.ManualControl"
            android:label="pegasus"
            android:screenOrientation="landscape" >
        </activity>

        <activity
                android:name="client.pegasusclient.app.UI.autonomous.activities.Autonomous"
                android:label="pegasus"
                android:screenOrientation="landscape" >
        </activity>

        <activity
                android:name="client.pegasusclient.app.UI.autonomous.activities.VehicleMode"
                android:label="pegasus"
                android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".PegasusSettings"
            android:label="pegasus"
            android:screenOrientation="landscape" >
        </activity>

        <activity
                android:name=".About"
                android:label="pegasus"
                android:screenOrientation="landscape" >
        </activity>

        <service
            android:name="client.pegasusclient.app.BL.Services.ConnectionService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="client.pegasusclient.app.BL.Services.SteeringService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="client.pegasusclient.app.BL.Services.HotspotConnectivityService"
            android:enabled="true"
            android:exported="true" >
        </service>

    </application>

</manifest>
